<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecobeauty">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.example.ecobeauty.authorization.ResetPasswordActivity"></activity>

        <activity android:name="com.example.ecobeauty.authorization.SignUpActivity" />
        <activity android:name="com.example.ecobeauty.mycosmetics.WishList" />
        <activity android:name="com.example.ecobeauty.MainActivity"/>
        <activity android:name="com.example.ecobeauty.mycosmetics.MyCosmeticsActivity" />
        <activity android:name="com.example.ecobeauty.authorization.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ecobeauty.aboutapp.AboutAppActivity"
            android:label="@string/aboutTitle" />
        <activity android:name="com.example.ecobeauty.checkcomposition.CheckCompositionActivity" />
        <activity android:name="com.example.ecobeauty.mycosmetics.UserActivity" />
        <activity android:name="com.example.ecobeauty.mydeparture.MyDepartureActivity" />
        <activity android:name="com.example.ecobeauty.mydeparture.SkinTypeActivity" />
        <activity android:name="com.example.ecobeauty.mydeparture.Types"/>
        <activity android:name=".mycosmetics.WordActivity" />


    </application>

</manifest>