<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecobeauty">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:screenOrientation="portrait">
        <activity android:name="com.example.ecobeauty.authorization.ResetPasswordActivity"  android:screenOrientation="portrait"></activity>

        <activity android:name="com.example.ecobeauty.authorization.SignUpActivity"  android:screenOrientation="portrait" />
        <activity android:name="com.example.ecobeauty.mycosmetics.WishList"  android:screenOrientation="portrait"/>
        <activity android:name="com.example.ecobeauty.MainActivity"  android:screenOrientation="portrait"/>
        <activity android:name="com.example.ecobeauty.mycosmetics.MyCosmeticsActivity" android:screenOrientation="portrait" />
        <activity android:name="com.example.ecobeauty.authorization.LoginActivity"  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ecobeauty.aboutapp.AboutAppActivity"
            android:label="@string/aboutTitle"  android:screenOrientation="portrait" />
        <activity android:name="com.example.ecobeauty.checkcomposition.CheckCompositionActivity"  android:screenOrientation="portrait" />
        <activity android:name="com.example.ecobeauty.mycosmetics.UserActivity"  android:screenOrientation="portrait" />
        <activity android:name="com.example.ecobeauty.mydeparture.MyDepartureActivity"  android:screenOrientation="portrait"/>
        <activity android:name="com.example.ecobeauty.mydeparture.SkinTypeActivity"  android:screenOrientation="portrait" />
        <activity android:name="com.example.ecobeauty.mydeparture.Types"/>


    </application>

</manifest>